
###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

public/assets/img/poster/109ce77e9bcc22f28914ec3d9556cc16\.png

public/assets/img/poster/5caabb16471371717efd114d14b43f92\.png

public/assets/img/poster/e9b27e945bea3d255978eb593b4aa6c1\.png
