{% extends 'base.html.twig' %}

{% block title %}test{% endblock %}

{% block body %}

<div class="content"></div>

        {% for art in articles %}

        <div class="flex">
            <h2>{{ art.name }}</h2>
            <img src="{{ art.poster }}" alt="image">
            <p>{{ art.description }}</p>
            <div>
                <a href=""><span class="u">Voir</span></a>
            </div>
            <div>
                <a class="btn btn-success" href="?article={{ art.id }}">Ajouter au panier</a>
            </div>
        </div>
        <hr>

        {% endfor %}

{% endblock %}
