{% extends 'base.html.twig' %}

{% block title %}test{% endblock %}

{% block body %}

<div class="content"></div>

        {% for art in articles %}

        <div class="flex-child">
            <h2>{{ art.name }}</h2>
            <img src="{{ art.poster }}" alt="image">
            {{ art.description }}
            <a href=""><span class="u">Voir</span></a>
            <a class="btn btn-success" href="?article={{ art.id }}">Ajouter au panier</a>
        </div>

        {% endfor %}

{% endblock %}
