{% extends 'admin/adminbase.html.twig' %}

{% block title %}Ajout article{% endblock %}

{% block body %}

    <h1 class="center progressive">Création d'article</h1>

    <div class="limit">

        {{ form_start ( form ) }}
        {{ form_widget ( form ) }}
        <button type="submit">
            {% if editMode %}
                Editer
            {% else %}
                Ajouter
            {% endif %}
        </button>
        {{ form_end ( form ) }}

    </div>


{% endblock %}
