{% extends 'base.html.twig' %}

{% block title %}Ajout article{% endblock %}

{% block body %}

    <h1 class="center">Création d'article</h1>

    {# <form action="" method="post">
        <input type="text" name="title">
        <textarea name="content"></textarea>
        <input type="text" name="image">
        <button type="submit">Envoyer</button>
    </form> #}

    {# {% if isConnected %} #}
    <div class="limit">

        {{ form_start ( form ) }}
        {{ form_widget ( form ) }}
        <button type="submit">
            {% if editMode %}
                Editer
            {% else %}
                Ajouter
            {% endif %}
        </button>
        {{ form_end ( form ) }}

    {# {% endif %} #}

    </div>


{% endblock %}
