body {
  margin:0;
  font:15px Verdana, sans-serif; /* Taille et police par défaut */
}


/* ==================== Textes ==================== */

h1 {
  font:bold 1.9em "Times New Roman", serif;
  color:#1254A2;
  text-align:center;
  margin:35px 0 40px 0;
  text-shadow:1px 0 10px #394954;
}
h1:hover {text-shadow:2px 0 20px #394954;}

h2 {
  font:bold 1.2em Verdana, sans-serif;
  text-align:center;
  margin:35px 0 40px 0;
}
h3 {
  font:bold 1em Verdana, sans-serif;
  text-decoration:underline;
  margin:25px 0 20px 0;
}
h4 {
  font:bold 1em Verdana, sans-serif;
}

p, .text {font:0.9em verdana, sans-serif;}

.note {font:0.7em verdana, sans-serif;}

.burger {
  font-size:30px;
  cursor:pointer
}

.invisible {opacity:0}
.visible {opacity:1; transition:2s}


.b {font-weight:bold}
.u {text-decoration:underline}
.i {font-style:italic}
address {font-style:normal}

a {text-decoration:none}
a:link {color:#4D6D95;}
a:visited {color:#4D6D95;}
a:hover {color:#EC0000;}

.textshadow {text-shadow:0 0 7px rgba(0,0,0,.9);}


/* ==================== Blocs et Navbar ==================== */

header {
  width:auto;
  background-color: #f7f7f7;
  /* color: #d3d3d3; */
}

footer {
  width:auto;
  background-color: #1f1f1f;
  padding:15px;
  margin-top:12px;
  color: #d3d3d3;
}

.main {
  margin:30px 0;
  padding:20px;
}

#pub {
  background-color:#2d2d2d;
  padding:8px;
  color:#d3d3d3;
}

ul {
  margin: 0; /* Supprimer les marges par défaut de liste */
  padding: 0;
  text-align: center;
}

nav.nav1 {
  margin: 0 50px;
  /* background-color: #eef2f7; */
}

nav.nav1 ul {
  display:flex;
  justify-content: space-around;
}

nav.nav1 li {
  list-style-type: none;
  padding: 12px 14px;
}

nav.nav1 li a {
  padding: 12px 14px;
}
nav.nav1 li a:hover {
  background-color: #9fbee3;
}


.desktop {
  display: block;
}
.mobile {
  display: none;
}


.limit {
  max-width:1300px;
  margin:0px auto;
  padding:0px;
  display:block;
}

.shadow {
  box-shadow: 0px -1px 20px 1px rgba(130,135,145,1);
}




/* ==================== Images & Vidéos ==================== */

img, video, iframe {
  max-width: 100%; /* Responsive */
  height: auto;
}

.admin-img {
  max-width:80px;
  max-height:80px;
}

.profil {
  position: absolute;
  margin-left: 13px;
  margin-top: 11px;
  width: 14px;
  height: 6px;
  border-left: solid 1px#e2e2e2;
  border-right: solid 1px#e2e2e2;
  border-top: solid 1px#e2e2e2;
  border-radius: 6px 6px 0 0;
}
.profil:before {
  content: '';
  position: absolute;
  left: 2px;
  top: -10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: solid 1px#e2e2e2;
}

.basket {
  color:#e2e2e2;
  position: absolute;
  margin-left: 8px;
  margin-top: 4px;
  width: 13px;
  height: 12px;
  border-radius: 1px;
  border: solid 1px currentColor;
  background-color: currentColor;
}
.basket:before {
  content: '';
  position: absolute;
  left: 3px;
  top: -8px;
  width: 5px;
  height: 6px;
  border-radius: 4px 4px 0 0;
  border-top: solid 1px currentColor;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
}

.symbol {
  width:50px;
  height:50px;
}


/* Sprite CSS */
#fb, #tw, #instagr {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto 8px;
}

#fb {
  background: url('../img/reseauxsociaux.png') 0 0;
}

#tw {
  background: url('../img/reseauxsociaux.png') -50px 0;
}

#instagr {
  background: url('../img/reseauxsociaux.png') -100px 0;
}


.vieilli {
  box-shadow: 0 0 65px #CDBE9F inset, 0 0 20px #BEAE8C inset, 0 0 2px #816F47;
  padding: 20px 24px;
  border-radius: 10px;
}

.zoom-effect {
  transition: 0.5s;
}

.zoom-effect:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.imgtransi {transition:2s; opacity:0.5}
.imgtransi:hover {transition:2s; opacity:1}


/* ==================== Alignement ==================== */

.left {text-align:left}
.right {text-align:right}
.center {text-align:center}
.centerbu {text-align:center; font-weight:bold; text-decoration:underline;}
.imgcenter {margin:22px auto; display:block;}


/* ==================== Marges ==================== */

.margin {margin:15px}
.margin-lr {margin:2px 15px}
.margin-tb {margin:15px 0}
.margin-l {margin-left:30px}
.margin-r {margin-right:30px}
.margin-bottom {margin-bottom:30px}
.margintopbottom {margin:50px 0}
.margin-top0 {margin-top:0}
.margin-bottom0 {margin-bottom:0}
.no-margin {margin-top:0; margin-bottom:0}

.galerie {margin:15px; border:1px solid black}


/* ==================== Float ==================== */

.floatleft {margin:0 20px 12px 0; float:left;}
.floatleft2 {margin:15px 20px 15px 0; float:left; border:1px solid black;}
.floatright {margin:0 0px 12px 20px; float:right;}
.floatright2 {margin:15px 0px 15px 15px; float:right; border:1px solid black;}
.floatleftbox {margin:0 20px 12px 0; float:left; text-align:center}
.floatrightbox {margin:0 0 12px 20px; float:right; text-align:center}
.clear {clear:both} /* Casser le flux de float */


/* ==================== Tableaux div (remplacent table/tr/td) ==================== */

.border {border:1px solid black}

.boxshadow {box-shadow:5px 5px 5px black;}

.overflow-hidden {
  overflow: hidden;
}


/* ==================== Flexbox ==================== */

.admin-list {
  max-width:1300px;
  margin:0 auto 5px;
  text-align: center;
}

.admin-flex {
  display:flex;
}
.admin-flex-child {
  margin:0;
  padding:4px;
  border:1px solid;
  flex:1;
}

.header-flex {
  display:flex;
  justify-content:space-around;
  align-items:center;
  background: #363636;
  color:#e2e2e2;
  margin:0;
}

.footer-flex {
  display:flex;

}
.footer-flex-child {
  padding: 20px;
}

.flex-child {
  flex:1; /* Meme largeur pour les enfants dans flexbox */
  width:45%;
  border:1px dashed #373737;
  padding:16px;
  margin:12px;
}

.flexcenter {
  display:flex;
  justify-content:center; /* Flexbox Centré */
  align-items:center;  /* Aligner verticalement au centre. Utile pour centrer textes trop courts */
}
.flexbetween {
  display:flex;
  justify-content:space-between;  /* Flexbox Ecarter au max */
}
.flexaround {
  display:flex;
  justify-content:space-around;  /* Flexbox Espaces tout autour */
}
.flexwrap {
  flex-wrap:wrap;
}

.flexnowrap {
  display: flex;
  flex-wrap:nowrap;
}

.footer-flex-child {
  min-width: 300px;
}


.boxflex {
  display: flex;
  justify-content: space-between;
}
.boxelement {
  width: 30%;
  padding: 15px;
  text-align: center;
}



/* ==================== Formulaire ==================== */


.search input[type=text] {
  margin-top:0px;
}


/* ============ Pour écran largeur supérieur à 1025px ============ */

@media screen and (min-width: 1025px)
{
  #burger {
    display:none;
  }
}


/* ============ Pour écran largeur inférieur à 1024px ============ */

@media screen and (max-width: 1024px)
{
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #34363b;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 20px; */
  }
  
  .sidenav a {
    padding: 8px 8px 8px 30px;
    text-decoration: none;
    /* font-size: 25px; */
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: left;
  }
  
  .sidenav a:hover {
    color: #f4f4f4;
  }
  
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 50px;
    /* margin-left: 50px; */
  }


  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}





  .footer-flex, .flexcenter, .flexbetween, .flexaround {
    flex-direction:column;
  }

  .boxflex {
    width:auto;
    margin:10px 0;
  }

  .boxflex:first-child {
    margin-right:0; /* Annuler la marge à droite */
  }
  .boxflex:last-child {
    margin-left:0; /* Annuler la marge à gauche */
  }



}