body {
  margin:0;
  font:15px Verdana, sans-serif; /* Taille et police par défaut */
}


/* ==================== Textes ==================== */

h1 {
  margin:50px 0;
}

p, .text {font:0.9em verdana, sans-serif;}

.note {font:0.7em verdana, sans-serif;}


.b {font-weight:bold}
.u {text-decoration:underline}
.i {font-style:italic}
address {font-style:normal}

a {text-decoration:none}
a:link {color:#4D6D95;}
a:visited {color:#4D6D95;}
a:hover {color:#EC0000;}


/* ==================== Blocs et Navbar ==================== */

header {
  background-color: #f7f7f7;
  /* color: #d3d3d3; */
}

footer {
  background-color: #1f1f1f;
  padding:15px;
  /* margin-top:12px; */
  color: #d3d3d3;
}

/* .main {
  margin:30px 0;
  padding:20px;
} */

#pub {
  background-color:#2d2d2d;
  padding:8px;
  color:#d3d3d3;
}

.desktop {
  display: block;
}
.mobile {
  display: none;
}

.limit {
  max-width:1300px;
  margin:0px auto;
  padding:0px;
  display:block;
}

.shadow {
  box-shadow: 0px -1px 20px 1px rgba(130,135,145,1);
}


/* ==================== Marges ==================== */

.margin-tb {
  margin:30px 0;
}


/* ==================== Images & Vidéos ==================== */

img, video, iframe {
  max-width: 100%; /* Responsive */
  height: auto;
}

.profil {
  position: absolute;
  margin-left: 13px;
  margin-top: 11px;
  width: 14px;
  height: 6px;
  border-left: solid 1px#e2e2e2;
  border-right: solid 1px#e2e2e2;
  border-top: solid 1px#e2e2e2;
  border-radius: 6px 6px 0 0;
}
.profil:before {
  content: '';
  position: absolute;
  left: 2px;
  top: -10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: solid 1px#e2e2e2;
}

.basket {
  color:#e2e2e2;
  position: absolute;
  margin-left: 8px;
  margin-top: 4px;
  width: 13px;
  height: 12px;
  border-radius: 1px;
  border: solid 1px currentColor;
  background-color: currentColor;
}
.basket:before {
  content: '';
  position: absolute;
  left: 3px;
  top: -8px;
  width: 5px;
  height: 6px;
  border-radius: 4px 4px 0 0;
  border-top: solid 1px currentColor;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
}

.symbol {
  width:50px;
  height:50px;
}


/* Sprite CSS */
#fb, #tw, #instagr {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto 8px;
}

#fb {
  background: url('../img/reseauxsociaux.png') 0 0;
}

#tw {
  background: url('../img/reseauxsociaux.png') -50px 0;
}

#instagr {
  background: url('../img/reseauxsociaux.png') -100px 0;
}


.vieilli {
  box-shadow: 0 0 65px #CDBE9F inset, 0 0 20px #BEAE8C inset, 0 0 2px #816F47;
  padding: 20px 24px;
  border-radius: 10px;
}

.zoom-effect {
  transition: 0.5s;
}

.zoom-effect:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.imgtransi {transition:2s; opacity:0.5}
.imgtransi:hover {transition:2s; opacity:1}


/* ==================== Alignement ==================== */

.left {text-align:left}
.right {text-align:right}
.center {text-align:center}

/* ==================== Tableaux div (remplacent table/tr/td) ==================== */

.boxshadow {box-shadow:5px 5px 5px black;}

.overflow-hidden {
  overflow: hidden;
}


/* ==================== Tableaux div (remplacent table/tr/td) ==================== */

.border {border:1px solid black}

.boxdotted {
  border:3px dotted #ce2b68;
  border-radius:14px;
  padding:12px 12px 12px 14px;
  margin:50px 50px;
}


/* ==================== Flexbox ==================== */

.top-flex {
  display:flex;
  justify-content:space-around;
  align-items:center;
  background: #363636;
  color:#e2e2e2;
  margin:0;
}

.top-flex-child {
  flex:1; /* Meme largeur pour les enfants dans flexbox */
  width:45%;
  padding:12px;
  margin:0;
  text-align: center;
}

.footer-flex {
  display:flex;
}
.footer-flex-child {
  padding: 20px;
}

.flexcenter {
  display:flex;
  justify-content:center; /* Flexbox Centré */
  align-items:center;  /* Aligner verticalement au centre. Utile pour centrer textes trop courts */
}
.flexbetween {
  display:flex;
  justify-content:space-between;  /* Flexbox Ecarter au max */
}
.flexaround {
  display:flex;
  justify-content:space-around;  /* Flexbox Espaces tout autour */
}
.flexwrap {
  flex-wrap:wrap;
}

.flexnowrap {
  display: flex;
  flex-wrap:nowrap;
}

.footer-flex-child {
  min-width: 300px;
}


.boxflex {
  display: flex;
  justify-content: space-between;
}
.boxelement {
  width: 30%;
  padding: 15px;
  text-align: center;
}



/* ==================== Formulaire ==================== */


.search input[type=text] {
  margin-top:0px;
}

.margin15 {
  margin:15px;
}


/* ============ Pour écran largeur supérieur à 1025px ============ */

@media screen and (min-width: 1025px)
{
  #burger {
    display:none;
  }
}


/* ============ Pour écran largeur inférieur à 1024px ============ */

@media screen and (max-width: 1024px)
{
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }


  .footer-flex, .flexcenter, .flexbetween, .flexaround {
    flex-direction:column;
  }

  .boxflex {
    width:auto;
    margin:10px 0;
  }

  .boxflex:first-child {
    margin-right:0; /* Annuler la marge à droite */
  }
  .boxflex:last-child {
    margin-left:0; /* Annuler la marge à gauche */
  }



}