/*//////////////////////////////////////////////////*/
/*                  CORPUS                          */
/*//////////////////////////////////////////////////*/
body {
    box-sizing: border-box;
    font-size: 16px;
}

/*//////////////////////////////////////////////////*/
/*                  HEADER                          */
/*//////////////////////////////////////////////////*/
.presentation-header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4.3rem;
}

.presentation-header-right {
    border: 0.7px solid black;
    border-radius: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

    font-size: 0.9rem;
    padding: 0.5rem;

    margin-left: 5rem;
}

.presentation-header-right a {
    font-size: 12px;
}

.presentation-header-top h1 {
    margin: 0;
    font-family: 'Playfair Display SC', serif;
}

.our-presentation-down {
    padding: 5rem;
}

.our-presentation-text {
    margin-bottom: 3rem;
}

.our-presentation-horaire {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.our-google-map {
    margin-top: 5rem;
}

/*Navbar-------------------------*/
#menu-navbar {
    font-weight: 400;
    background-color: white;
}

#navbarSupportedContent {
    padding-left: 2.5rem;

}

#user_name {
    color: white;
    margin-top: 1.8rem;
    margin-left: 1.5rem;
    font-weight: 600;
}

#item-nav {
    margin-top: 0.8rem;
}

#button-nav {
    margin-top: 0.5rem;
}

#header-content {
    margin: 0;
    text-decoration: none;
}

/*CADDY---LOGO-----------------------*/

.caddy-value {
    position: relative;
    bottom: 2.75rem;
    left: 0.90rem;

    font-weight: 500;

    color: red;
    font-size: 1.6rem;
}

.caddy-empty {

    position: relative;
    bottom: 3rem;
    left: 0.6rem;

    font-weight: 600;

    color: red;
    font-size: 1.5rem;
}

.caddy-contents {
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.caddy-contents a {
    height: 3rem;
}

#alert {
    position: absolute;
    top: 8rem;
    left: 35rem;

    width: 55rem;
    height: 8rem;
}


/*//////////////////////////////////////////////////*/
/*                  FOOTER                */
/*//////////////////////////////////////////////////*/

footer {
    padding-top: 1%;
}


/*//////////////////////////////////////////////////*/
/*                  HOME                            */
/*//////////////////////////////////////////////////*/

#home-one {
    width: 100%;
    background-attachment: fixed;
    background-image: url("../intro.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#home-one article {
    display: flex;
}

/* Epaisseur couleur catégories */
.home-categories {
    min-width: 2%;
}

#woman,
#man,
#kid,
#bagages {

    display: flex;
    justify-content: center;
    align-items: center;

    color: aliceblue;
    font-size: 2rem;
}

#woman {
    background-color: rgba(81, 45, 168);
}

#man {
    background-color: rgb(46, 46, 46);
}

#kid {
    background-color: rgb(136, 14, 79);
}

#bagages {
    background-color: rgb(121, 85, 72);
}

.content-article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;

    width: 200px;
}

.content-article h2 {
    text-align: center;

}

.vitrine {

    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}

.vitrine img {
    margin-left: 1rem;
    margin-right: 1rem;

    max-width: 200px;
    max-height: 200px;

}

.count-proposition {

    height: 30rem;
    width: 30rem;
}

article {
    border-top: 1px solid rgb(69, 86, 102);
}

.info-showcase {
    text-align: center;
    margin-bottom: 1rem;
}

.container-info-article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


#new,
#serie,
#mode {
    color: black;
    border-radius: 10px;
    width: 8.5rem;
    border: 1px solid black;
}

#new {
    background-color: whitesmoke;
}

#serie {
    background-color: whitesmoke;
}

#price {
    background-color: whitesmoke;
}

/*//////////////////////////////////////////////////*/
/*                  OUR                             */
/*//////////////////////////////////////////////////*/


#our-main-controller {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 5rem;
    margin-top: 5rem;
}

.our-presentation {
    width: 50rem;
    height: 50rem;

    border: 1px solid black;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.our-presentation img {
    width: 10rem;
    height: 7rem;

    border-radius: 5px;
}

.our-presentation-up {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.our-presentation-down {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.our-part-left {
    height: 100%;
    border-right: 1px solid black;
}





/*//////////////////////////////////////////////////*/
/*                  ARTICLES DETAILS                */
/*//////////////////////////////////////////////////*/

.details-main {
    margin-top: 4rem;
    margin-bottom: 4rem;
}


#details-portfolio {
    display: flex;
    align-items: center;

}

.details-reference {
    font-style: italic;
    color: #1C2331;
    font-size: 0.8rem;
}


.list-group-item.active {
    background-color: black;
    border: 1px solid black;
}

.details-info {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.details-shopping-cart {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tab-content>.active {
    margin-top: 1rem;
}

.modal-body {
    height: 30rem;
    width: 30rem;
}

#zoom-laucher {
    width: 100px;
    height: 100px;

    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 0;

}

#zoom-laucher:hover {
    cursor: pointer;
}

.details-info h1 {
    margin: 0;
}

#list-profile {
    display: flex;
}

.modal-content {
    height: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;

}

#cartQuantity {
    display: flex;
    justify-content: flex;
    align-items: flex;
}

.details-quantity{
    color:white ;
    border: 1px solid rgb(63, 114, 155);
    padding: 5px 9px 5px 9px;
    background-color: rgb(63, 114, 155);
    border-radius: 50%;
}

#quantity-choice-btn{
    background-color: black;
    color: white;
    font-size:0.8rem;
    border:1px solid black;
    border-radius:0.4rem;
}

#quantity-choice-btn:hover {
    background-color: grey;
        border:1px solid grey;
}

.details-customers-info{
    padding-top: 2rem;
    font-size: 0.8rem;
}


/*//////////////////////////////////////////////////*/
/*                  GALLERY                          */
/*//////////////////////////////////////////////////*/

#gallery-main {
    min-height: 35rem;
}

#gallery-title strong {
    font-family: 'Righteous', cursive;
    font-size: 4.5rem;
}

#gallery-display {
    display: flex;
    justify-content: center;
}

#gallery-filtres {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5rem;
}

.gallery-card {

    margin: 1rem;
    border: 1px solid black;
    border-radius: 10px;

    padding: 1rem;
}

.card-title {
    height: 4rem;
}

.card-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-price {
    display: flex;
}


#inlineFormCustomSelectPref {
    border: 1px solid rgb(46, 46, 46);
    width: 10rem;
}

.card-title {
    padding: 0;
    height: 3rem;
}

.card-img-top {
    height: 10rem;
    width: 10rem;
    margin-left: 2.3rem;
}

.card-body {
    padding: 0;
    margin-top: 0.5rem;
}


.card-brand {
    margin-bottom: 0.8rem;
}

.hr-filtre {
    margin-bottom: 0.5rem;

}

#get-all-articles {
    margin-top: 1rem;
}

/* JUMBOTRON All */
#gallery-jumbotron-homme,
#gallery-jumbotron-femme,
#gallery-jumbotron-scolaire,
#gallery-jumbotron-bagage {
    height: 10rem;
    color: azure;
}

#gallery-jumbotron-homme h2,
#gallery-jumbotron-femme h2,
#gallery-jumbotron-scolaire h2,
#gallery-jumbotron-bagage h2 {
    margin-left: 2rem;
}

#gallery-jumbotron-homme p,
#gallery-jumbotron-femme p,
#gallery-jumbotron-scolaire p,
#gallery-jumbotron-bagage p {
    margin-left: 2rem;
}


/* JUMBOTRON All */
#inlineFormCustomSelectPref-woman1,
#inlineFormCustomSelectPref-woman2,
#inlineFormCustomSelectPref-woman3,
#inlineFormCustomSelectPref-man1,
#inlineFormCustomSelectPref-man2,
#inlineFormCustomSelectPref-man3,
#inlineFormCustomSelectPref-kid1,
#inlineFormCustomSelectPref-kid2,
#inlineFormCustomSelectPref-kid3,
#inlineFormCustomSelectPref-bagage1,
#inlineFormCustomSelectPref-bagage2,
#inlineFormCustomSelectPref-bagage3 {
    width: 10rem;
}


/*GALLERY-------FEMME----------------------*/
#gallery-jumbotron-femme {
    background-color: rgba(76, 51, 145, 0.8);
    display: flex;
    align-items: center;
}

#jumbo-img-woman {
    width: 8rem;
}

#numberPage-pagination-woman {
    color: white;
    background-color: rgb(76, 51, 145)
}



/*GALLERY-------HOMME---------------------*/

#gallery-jumbotron-homme {
    background-color: rgb(46, 64, 79);
    display: flex;
    align-items: center;
}

#jumbo-img-man {
    width: 6.7rem;
}


#numberPage-pagination-man {
    color: white;
    background-color: rgb(46, 64, 79)
}


/*GALLERY-------KIDS---------------------*/

#gallery-jumbotron-scolaire {
    background-color: rgb(136, 14, 79);
    display: flex;
    align-items: center;
}

#jumbo-img-kid {
    width: 6.65rem;
}

#numberPage-pagination-kid {
    color: white;
    background-color: rgb(136, 14, 79)
}

/*GALLERY-------BAGAGES------------------*/

#gallery-jumbotron-bagage {
    background-color: rgb(153, 96, 50);
    display: flex;
    align-items: center;
}

#jumbo-img-bagage {
    width: 6.7rem;
}

#numberPage-pagination-bagage {
    color: white;
    background-color: rgb(153, 96, 50)
}

#article-showcase {
    max-height: 155px;
}


/*//////////////////////////////////////////////////*/
/*                   USER                            */
/*//////////////////////////////////////////////////*/


/*---------------- User--------- register */

#user-register {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.regiter-form-left,
.regiter-form-right {
    border: 1px solid grey;
    border-radius: 25px;
    padding: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


#account-log {
    margin-top: 0.5rem;
}

#count-creat{
    color:green;
    font-weight: 600;
}

#forgot-pass{
    color:red;
    font-weight: 600;
}



.count-title {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    padding-bottom: 0.5rem;
}


.user-container {
    min-height: 40rem;
}

#user-name {
    margin-top: 1.3rem;
    color: black;
    margin-left: 3rem;
    color: cornflowerblue;
    font-style: italic;
}


.limit {
    min-height: 40rem;
}


.user-login-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
}

.user-login-info p{
    margin: 0;
    font-size: 0.8rem;
}

.log1,.log2,.log3{
    margin-top: 1.5rem;

}

#log-title{
    margin-top: 5rem;
}

/*//////////////////////////////////////////////////*/
/*                     PANIER                       */
/*//////////////////////////////////////////////////*/
.titleListInCart {
    font-weight: bold;
    font-size: 1.1rem;
}

#cartPosters {
    background-size: cover;
    width: 28px;
    height: 28px;
}

.cartDetails {
    vertical-align: middle;
    padding-top: 5px;
}

.cardRemoveFromCart {
    margin-top: 50px;
    margin-left: 15px;
}

/*--------- Cart----- add */

.cardAddToCart {
    margin-top: 50px;
    margin-left: 15px;
}

.posterAddToCart {
    background-size: cover;
    width: 150px;
    height: 150px;
}

.liNameAddToCart {
    background-color: rgba(108, 255, 51, .5);
}

#view-cart-container {
    min-height: 40rem;
}

#add-container {
    min-height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card-add {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card-img-add {
    margin: 0;
}

#add-card-body h5 {
    text-align: center;
}

#add-card-body p {
    text-align: center;
}

#add-list {
    margin-top: 1rem;
}

/*--------- Cart----- remove */

#remove-container {
    min-height: 30rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#remove-cart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#remove-cart p {
    text-align: center;
}


#view-cart-container h2{
    margin-top: 1rem;
}

/*--------- Cart----- show */

.cart-show-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

#view-cart-container h2{
    margin-top: 1.5rem;
    padding: 0;
}

.cart-show-title p{
    margin-top: 1.5rem;
    padding-left: 2rem;
}

.customers-info-count{
    font-size: 0.8rem;
}

.cart-order-info{
    font-size: 1.5rem;
}

.order-view-cart a{
    font-size: 1.8rem;
    text-decoration: none;
}

/* /////////////////// */

/* #confirmModal{
    display: none;
} */
/* #btnRemFromCart{
    height: 10px;
    width: 10px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 25px;
    margin: 1px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(108, 9, 21, .5);
} */


#btnRemFromCart {
    /* height: 10px;
    width: 10px;
    padding-bottom: 20px;
    padding: 13px;
    margin: 0px;
    border-radius: 20px;
    /* box-shadow: 5px 5px 10px rgba(108, 9, 21, .5);  
    text-align: center; */
    width: 2rem;
    height: 2rem;

}

#cartImg {
    text-decoration-color: orange;
    padding-left: 10px;
}



/*//////////////////////////////////////////////////*/
/*                  ORDER                           */
/*//////////////////////////////////////////////////*/

#main-order-container {
    min-height: 35rem;
}

.orders-details {
    margin-bottom: 5rem;
}

.card-body-order {
    padding: 1rem;
}

#order-process div {
    display: flex;
    width: 25%;
    height: 5rem;

    justify-content: center;
    align-items: center;

    color: white;
    font-weight: 400;
}

#order-process {
    display: flex;
}

#order-container {
    background-color: #880e4f;
}

#order-help {
    background-color: blue;
}

.order-process-step-1 {
    background-color: rgb(46, 46, 46);
}

.order-process-step-2 {
    background-color: rgb(46, 46, 46);
}

.order-process-step-3 {
    background-color: rgb(46, 46, 46);
}

.order-process-step-4 {
    background-color: rgb(46, 46, 46);
}

/*----------------- ORDER SECTION 1---------------- */
#order_section_1 {
    width: 100%;
    background-color: aqua;
}


/*----------------- ORDER SECTION 2---------------- */
#order_section_2 {
    width: 100%;
    height: 10rem;

    background-color: red;

    display: flex;
}

.order_section_2_main {
    width: 70%;
    background-color: brown;
}

.order_section_2_aside {
    width: 30%;
    background-color: goldenrod;
}

/*----------------- ORDER SECTION 3---------------- */

#order_section_3 {
    width: 100%;
    height: 10rem;

    background-color: gray;
    display: flex;
}

.order_section_3_main {
    width: 70%;
    background-color: brown;
}

.order_section_3_aside {
    width: 30%;
    background-color: goldenrod;
}


/*----------------- ORDER SECTION 4---------------- */

#order_section_4 {
    width: 100%;
    height: 10rem;

    background-color: forestgreen;
    display: flex;
}

.order_section_4_main {
    width: 70%;
    background-color: brown;
}

.order_section_4_aside {
    width: 30%;
    background-color: goldenrod;
}


/*----------------- ORDER SECTION 5---------------- */

#order_section_5 {
    width: 100%;
    height: 10rem;

    background-color: yellow;
    display: flex;
}

.order_section_5_main {
    width: 70%;
    background-color: brown;
}

.order_section_5_aside {
    width: 30%;
    background-color: goldenrod;
}





/*//////////////////////////////////////////////////*/
/*                  TUNEL                           */
/*//////////////////////////////////////////////////*/
.buyLayerRows {
    border: 1px solid grey;
    border-radius: 3px;
    background-color: #dfe6e9;
    margin-bottom: 20px;
    padding: 5px;
}

.buyInLayer {
    border: 1px solid grey;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 5px;
}

.buyInLayerShipping {
    border: 1px solid grey;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 5px;
}

.buy-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}



/*//////////////////////////////////////////////////*/
/*                  MEDIA QUERIES                   */
/*//////////////////////////////////////////////////*/

/* Photos présentations vitrine */
@media screen and (max-width: 400px) {
    .vitrine img {
        max-width: 90px;
        max-height: 90px;
    }
}

/* Photos présentations vitrine */
@media screen and (max-width: 600px) {
    .vitrine img {
        max-width: 120px;
        max-height: 120px;
    }
}


/* margin présentations vitrine */
@media screen and (max-width: 1000px) {

    .container-info-article {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

}

/* margin présentations vitrine */
@media screen and (max-width: 800px) {

    .container-info-article {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

}

/* affichage responsive du txt panier */
@media screen and (max-width: 767px) {
    .cartDetails {
        text-align: center;
    }
}

/* affichage responsive du header */
@media screen and (max-width: 700px) {
    .presentation-header-top {
        margin-left: 1.7rem;
    }

    .presentation-header-right {
        margin-left: 0.3rem;
        border: 1px solid transparent;
    }
}


/* affichage responsive du qui sommes nous? */
@media screen and (max-width: 900px) {
    .our-presentation {
        width: 30rem;
        height: 55rem;
        padding: 0;
    }

    .our-presentation img {
        height: 7rem;
        padding: 1rem;
    }

    .our-presentation-down {
        padding: 1rem;
    }
}

/* affichage responsive du qui sommes nous? */
@media screen and (max-width: 500px) {
    .our-presentation {
        width: 22rem;
        height: 45rem;
        padding: 0;

        font-size: 0.8rem;
    }

    .our-presentation img {
        height: 5rem;
        padding: 0.5rem;
    }

    .our-presentation-down {
        padding: 1rem;
    }
}


/* affichage responsive du qui sommes nous? */
@media screen and (max-width: 500px) {
    #user-count {
        width: 23rem;
    }
}










/*///////////////////////////////////////////////////////////////*/
/*//////////                STRIPE                ///////////////*/
/*///////////////////////////////////////////////////////////////*/
.StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    width: 400px;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

/*///////////////////////////////////////////////////////////////*/