body {
  background:#eaeaea url('../img/bg.jpg') center repeat-y fixed;
  margin:0;
  font-size:15px; /* Taille par défaut */
}


/* ==================== Textes ==================== */

h1 {
  font:bold 1.9em "Times New Roman", serif;
  color:#1254A2;
  text-align:center;
  margin:35px 0 40px 0;
  text-shadow:1px 0 10px #394954;
}
h1:hover {text-shadow:2px 0 20px #394954;}

h2 {
  font:bold 1.2em Verdana, sans-serif;
  text-align:center;
  margin:35px 0 40px 0;
}
h3 {
  font:bold 1em Verdana, sans-serif;
  text-decoration:underline;
  margin:25px 0 20px 0;
}
h4 {
  font:bold 1em Verdana, sans-serif;
}

.box h2 {margin-top:5px}  /* Les h2 dans une class "box" */
h3:first-child, img[class*="float"]+h3, img[class*="float"]+p {margin-top:0}  /* Les p placés immédiatement après img (contenant class="float...") */
p:last-child {margin-bottom:0}  /* Dernier p dans un conteneur parent */

p, td, .text {font:0.9em verdana, sans-serif;}

.invisible {opacity:0}
.visible {opacity:1; transition:2s}

.accueil {
  /* font-weight:normal; */
  font:1em verdana, sans-serif;
  text-shadow:none;
  margin:0 0 22px 0;
  text-align:left;
  color:black;
}

.nostyle {
  font-weight:normal;
  font:1em verdana, sans-serif;
  margin:0;
  text-align:left;
  font:bold 1em Georgia, "Times New Roman", serif; color:#6385B1;
}

.b {font-weight:bold}
.u {text-decoration:underline}
.i {font-style:italic}
address {font-style:normal}

a {text-decoration:none}
a:link {color:#4D6D95;}
a:visited {color:#4D6D95;}
a:hover {color:#EC0000;}
a.liengris:link {color:#757575;}
a.liengris:visited {color:#757575;}
a.liengris:hover {color:#EC0000;}

.textshadow {text-shadow:0 0 7px rgba(0,0,0,.9);}


/* ==================== Blocs et Navbar ==================== */

nav {
  display:block;
}




.sidenav {
  background-color: #2c2c2c;  
  width: 100%;
  /* height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #34363b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px; */
}

.sidenav a {
  display: inline-block;
  color: #f5f5f5;
  text-decoration: none;
  font:1em Verdana, sans-serif;
  padding: 16px 17px;
  /* padding: 8px 8px 8px 30px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; */
}

.sidenav a:hover {
  background-color: #bebebe;
  color: black;
  /* color: #f4f4f4; */
}

.navbar a.active {
  background-color: #4b4b4b;
  color: #f5f5f5;
  padding: 16px 17px;
}

.sidenav .close {
  /* position: absolute;
  top: 0;
  right: 20px;
  font-size: 50px; */
  /* margin-left: 50px; */
}



footer {
  display:block;
  position: fixed;
  bottom:0;
  right:0;
}


/* ==================== Images & Vidéos ==================== */

img, video, iframe{
  max-width: 100%; /* Responsive */
  height: auto;
}

.vieilli {
  box-shadow: 0 0 65px #CDBE9F inset, 0 0 20px #BEAE8C inset, 0 0 2px #816F47;
  padding: 20px 24px;
  border-radius: 10px;
}

.zoom-effect {
  transition: 0.5s;
}

.zoom-effect:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.imgtransi {transition:2s; opacity:0.5}
.imgtransi:hover {transition:2s; opacity:1}

.youtube {
  width:560px;
  height:315px;
  display:block;
  margin:auto;
  border:0
}

/* ==================== Alignement ==================== */

.left {text-align:left}
.right {text-align:right}
.center {text-align:center}
.centerbu {text-align:center; font-weight:bold; text-decoration:underline;}
.centerblock, .logo {margin:auto; display:block;}
.imgcenter {margin:22px auto; display:block;}


/* ==================== Marges ==================== */

.margin {margin:15px}
.margin-lr {margin:2px 15px}
.margin-tb {margin:15px 0}
.margin-l {margin-left:30px}
.margin-r {margin-right:30px}
.margin-bottom {margin-bottom:30px}
.margintopbottom {margin:50px 0}
.margin-top0 {margin-top:0}
.margin-bottom0 {margin-bottom:0}
.no-margin {margin-top:0; margin-bottom:0}

.galerie {margin:15px; border:1px solid black}


/* ==================== Float ==================== */

.floatleft {margin:0 20px 12px 0; float:left;}
.floatleft2 {margin:15px 20px 15px 0; float:left; border:1px solid black;}
.floatright {margin:0 0px 12px 20px; float:right;}
.floatright2 {margin:15px 0px 15px 15px; float:right; border:1px solid black;}
.floatleftbox {margin:0 20px 12px 0; float:left; text-align:center}
.floatrightbox {margin:0 0 12px 20px; float:right; text-align:center}
.clear {clear:both} /* Casser le flux de float */


/* ==================== Tableaux div (remplacent table/tr/td) ==================== */

.border {border:1px solid black}



.boxdesign1 {
  width:188px;
  padding:5px 8px 5px 16px;
  border-left:1px solid #5A7FAD;
  border-top:1px solid #5A7FAD;
  border-right:1px solid #5A7FAD;
  border-radius:11px 11px 0% 0%;
  background:linear-gradient(#EEEEF7, #CAC9CC);
}
.boxdesign2 {
  border:1px solid #5A7FAD;
  border-radius:0px 11px 11px;
  padding:16px;
  margin-bottom:30px;
}

.boxshadow {box-shadow:5px 5px 5px black;}

.overflow-hidden {
  overflow: hidden;
}


/* ==================== Flexbox ==================== */

.flex {
  display: flex; /* Utilisation de flexbox pour aligner ses enfants */
  flex-wrap: wrap;
}

.flex-child {
  flex:1; /* Meme largeur pour les enfants dans flexbox */
  width:300px;
  border:1px dashed #373737;
  padding:16px;
  margin:12px;
}

.flexcenter {
  display:flex;
  justify-content:center; /* Flexbox Centré */
  align-items:center;  /* Aligner verticalement au centre. Utile pour centrer textes trop courts */
}
.flexbetween {
  display:flex;
  justify-content:space-between;  /* Flexbox Ecarter au max */
}
.flexaround {
  display:flex;
  justify-content:space-around;  /* Flexbox Espaces tout autour */
}
.flexwrap {
  flex-wrap:wrap;
}

.boxflex {
  flex:1; /* Meme largeur pour les box dans flexbox */
  padding:12px;
  margin:15px 0 15px 0;
  border:1px dashed #3F3F3F;
}
.boxflex:first-child {
  margin-right:15px;
}
.boxflex:last-child {
  margin-left:15px;
}



/* ==================== Formulaire ==================== */

form {
  font:1em verdana, sans-serif;
  margin:30px 0;
}
fieldset {padding:11px 22px 11px 15px;}

input {margin:4px;}

button[type*="submit"] {
  cursor:pointer;
  padding:5px 10px;
  border-radius:7px;
  background:linear-gradient(#EEEEF7, #CAC9CC);
  border:1px solid #6e6e6e;
  margin:8px 0;
}
button[type*="submit"]:hover {
  color:#EC0000;
}


/* ============ Pour écran largeur supérieur à 1025px ============ */

@media screen and (min-width: 1025px)
{
  #burger {
    display:none;
  }
}


/* ============ Pour écran largeur inférieur à 1024px ============ */

@media screen and (max-width: 1024px)
{
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #34363b;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 20px; */
  }
  
  .sidenav a {
    padding: 8px 8px 8px 30px;
    text-decoration: none;
    /* font-size: 25px; */
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f4f4f4;
  }
  
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 50px;
    /* margin-left: 50px; */
  }


  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}





  .flexcenter, .flexbetween, .flexaround {
    flex-direction:column;
  }

  .boxflex {
    width:auto;
    margin:10px 0;
  }

  .boxflex:first-child {
    margin-right:0; /* Annuler la marge à droite */
  }
  .boxflex:last-child {
    margin-left:0; /* Annuler la marge à gauche */
  }



}