 <div id="gallery-filtres" class="row">

            <div class="brand-filtre">

                <form class="form-inline">
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Marque</label>
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref-1">
                        <option selected>...</option>
                        <option value="Lancaster"> Lancaster </option>
                        <option value="nafnaf"> Naf-naf </option>
                        <option value="Lacoste"> Lacoste </option>
                        <option value="sansonite"> Sansonite </option>
                    </select>
                    <button type="submit" class="btn btn-elegant btn-sm">choisir</button>
                </form>
            </div>

            <div class="price-filtre">

                <form class="form-inline">
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Prix</label>
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref-2">
                        <option selected>...</option>
                        <option value="upperprice"> Le moins cher </option>
                        <option value="lowerprice"> Le plus cher </option>
                    </select>
                    <button type="submit" class="btn btn-indigo my-1 btn-sm">choisir</button>
                </form>
            </div>

            <div class="material-filtre">

                <form class="form-inline">
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Matière</label>
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref-3">
                        <option value="">...</option>
                        <option value="cuir"> cuir </option>
                        <option value="tissus"> tissus </option>
                        <option value="tresse"> Tressé </option>
                    </select>
                    <button type="submit" class="btn btn-deep-purple my-1 btn-sm">choisir</button>
                </form>
            </div>
    </div>