{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

<div class="limit">

    <h1 class="center progressive">Conditions générales de vente</h1>

    <p><a href="{{ asset('assets/pdf/cgv.pdf') }}">Télécharger la version PDF</a></p>

    <p>Applicables à compter du 21/12/2018</p>

    <h2>Article 1 : Préambule</h2>
    
    <p>Primebag est une enseigne appartenant à la société Primebag SAS. 
    Les présentes conditions générales de vente représentent l'ensemble des stipulations qui constituent l'offre émise par la société Primebag SAS société par actions simplifiée au capital de 10.000 euros, dont le siège social est sis à Lille (59000), immatriculée au Registre du Commerce et des Sociétés de DUNKERQUE sous le numéro 545 542 878, N° de TVA intra-communautaire FR59 507 0014 070, à destination de tout acquéreur potentiel de ses produits via le site www.primebag.com, ci-après dénommé « l'utilisateur » ou « le client ».
    Le fait de passer commande implique l'adhésion pleine et entière du client aux présentes conditions générales de vente. Primebag se réserve le droit de modifier les présentes conditions générales de vente à tout moment. Ces conditions générales de vente pouvant faire l'objet de modifications, les conditions applicables sont celles en vigueur sur le site à la date de passation de votre commande.
    Toute reproduction, intégrale ou partielle, est systématiquement soumise à l'autorisation de Primebag.</p>

    <h2>Article 2 : Acceptation des conditions</h2>
    
    <p>Le client reconnaît avoir pris connaissance, au moment de la passation de la commande, des conditions générales de ventes énoncées dans ce document et déclare formellement les accepter sans réserve.</p>
    
    <h2>Article 3 : Produits</h2>
    
    <p>Les caractéristiques des produits commandés par le client sont indiquées sur les pages " Produits " du site. Tous les produits proposés sont conformes à la législation française en vigueur et aux normes applicables en France.
    Certains produits sont garantis par le fournisseur (voir fiche article) contre les défauts de fabrication, mais non pas contre l'usure normale due à une utilisation régulière ou à une mauvaise utilisation du produit.
    Les photographies illustrant les produits sont communiquées à titre illustratif.
    Nos produits sont proposés dans la limite des stocks disponibles.
    Les produits demeurent la propriété de Primebag jusqu'au complet paiement du prix.
    La responsabilité de PRIMEBAG ne saurait être engagée en cas de non-respect de la législation du pays où le produit est livré.
    Les produits sont décrits et présentés avec la plus grande exactitude possible. Toutefois si des erreurs ou omissions minimes ont pu se produire quant à cette présentation, la responsabilité de PRIMEBAG ne saurait être engagée.</p>

    <h2>Article 4 : Prix</h2>
    
    <p>Les prix sont indiqués en euros toutes taxes comprises. Ils tiennent compte de la taxe sur la valeur ajoutée applicable au jour de la commande, hors participation aux frais de traitement et d'expédition.
    Nous nous réservons le droit de modifier ces prix à tout moment, mais les produits seront facturés sur la base des prix en vigueur au moment de l'enregistrement de la commande.
    Les prix ne sont valables que sur le site Primebag.com et peuvent différés de ceux affichés dans les magasins exploités par la société PRIMEBAG pour des produits similaires.
    PRIMEBAG s’engage à vous garantir le meilleur prix. Si dans un délai de 10 jours suivant votre achat d’un article  sur le site Primebag.com, vous trouvez le même article à un prix inférieur sur un autre site internet français, nous nous engageons à vous rembourser deux fois la différence, sous réserve du respect des conditions ci-dessous :</p>

    <p>- Il doit s’agir d’un produit identique : le produit doit être  neuf, il doit être de la même marque et du même modèle et avoir la même référence, la même couleur et la même taille.<br>
    - Il doit être vendu en quantité identique et ne peut notamment être comparé à des produits vendus en lot.<br>
    - Le coût du service offert, comprenant les frais annexes : notamment les frais de port, les frais d’emballage, les frais administratif, etc., doit être équivalent. Le produit doit être disponible immédiatement.<br>
    - Le délai de livraison ne doit pas être supérieur à celui proposé par Primebag.com.<br>
    - Le produit doit être réellement en vente. Par exemple, les offres promotionnelles  qui n’auraient pour but que d’attirer le consommateur sans offrir réellement le produit à la vente ne pourront pas être prises en compte.<br>
    - Le produit doit être vendu en dehors des périodes de soldes, de promotion ou de déstockage et ne doit pas donner lieu à une remise au moyen d’un code promotion. Le produit ne doit pas être vendu sur un site d’enchères ou de petites annonces.<br>
    - Il doit être livré en France métropolitaine
    Si toutes les conditions ci-dessus sont remplies, PRIMEBAG s’engage à vous rembourser deux fois la différence par virement bancaire dans un délai d’un mois à compter de la réception de votre demande. Il ne sera réalisé qu’un seul remboursement par client pour un même article et après transmission par le client des renseignements suivants :<br>
    - son prénom et son nom<br>
    - son numéro de commande<br>
    - la référence de l’article sur le site Primebag.com<br>
    - le montant du prix Primebag.com<br>
    - le nom du site et de la page web sur laquelle se trouve le prix inférieur.</p>
    
    <h2>Article 5 : Commande</h2>
    
    <p>Les commandes se font sur le site et ne peuvent être enregistrées sur celui-ci que si l'utilisateur s'est clairement identifié par l'inscription de son adresse email (ou l'identifiant spécifique du site Primebag.com) et de son mot de passe qui lui sont strictement personnels.<br>
    Les informations contractuelles sont présentées en langue française et feront l'objet d'une confirmation au plus tard au moment de la livraison. Nous nous réservons le droit d'annuler ou de refuser toute commande d'un client avec lequel il existerait un litige relatif au paiement d'une commande antérieure.<br>
    Toute commande vaut acceptation des prix, des présentes conditions générales de vente et de la description des produits disponibles à la vente. Toute contestation sur ce point interviendra dans le cadre d'un échange, d'un retour ou des garanties ci-dessous mentionnées.<br>
    En cas de commande par un professionnel, PRIMEBAG n'encourra aucune responsabilité pour tous dommages indirects du fait des présentes, perte d'exploitation, perte de profit, perte de chance, dommages ou frais, qui pourraient survenir du fait de l'achat des produits.</p>
    
    <h2>Article 6 : Validation</h2>
    
    <p>Conformément aux dispositions de la Loi N° 2000-230 du 13 mars 2000 portant adaptation du droit de la preuve aux technologies de l'information et relative à la signature électronique, la fourniture en ligne du numéro de carte bancaire et la validation finale de la commande constituent une acceptation irrévocable des conditions générales de vente et du paiement.<br>
    Elles constituent aussi la preuve de l'ensemble des transactions passées par PRIMEBAG et son client et valent preuve de l'intégralité de la dite commande et exigibilité des sommes engagées par la saisie des articles figurant sur le bon de commande. Cette validation vaut acception expresse de toutes les opérations effectuées sur le site.<br>
    Toute commande sera confirmée par PRIMEBAG par un courrier électronique adressé au client dès la validation de sa commande ou au plus tard au moment de l'expédition de la commande.<br>
    En cas d'utilisation frauduleuse de sa carte bancaire, le client est invité, dès le constat de cette utilisation, à contacter notre service client.</p>
    
    <h2>Article 7 : Disponibilité</h2>
    
    <p>Sauf indication contraire, nos offres de produits sont proposées dans la limite des stocks réels disponibles. En cas de défaut d'exécution du contrat résultant de l'indisponibilité du bien commandé, le client sera informé de cette indisponibilité par courrier électronique, la commande sera annulée et le client sera remboursé au choix de PRIMEBAG par crédit de son compte bancaire ou par chèque au plus tard dans un délai de 30 jours du paiement des sommes versées ou débitées de son compte.</p>
    
    <h2>Article 8 : Livraison</h2>

    <p>Le délai de livraison est indiqué dans le process de commande. Les produits achetés sur le site sont livrés à l'adresse indiquée par le client au cours du processus de commande. Il vous appartient lors de la réception du colis de vérifier immédiatement l'état de celui-ci, le bon état de l’article commandé, ainsi que sa conformité à la commande. Dans tous les cas, vous disposez d’un délai de trois (3) jours, non compris les jours fériés, à compter de la réception de votre colis pour notifier au transporteur, par acte extrajudiciaire ou lettre recommandée, votre protestation motivée (article L133-3 du Code de commerce).
    Si PRIMEBAG  a manqué à son obligation de livrer le bien dans le délai indiqué, vous pouvez résoudre le contrat en enjoignant à PRIMEBAG par courrier recommandé avec accusé de réception ou par un autre écrit sur support durable (message électronique par exemple) d’effectuer la livraison ou de fournir le service dans un délai supplémentaire raisonnable. ce n’est que dans l’hypothèse où Primebag ne se serait pas exécuté durant ce nouveau délai, que vous pourrez, selon les mêmes modalités, informer PRIMEBAG que vous mettez fin au contrat. Le contrat est considéré comme résolu à réception de la lettre ou de l’écrit informant PRIMEBAG de cette résolution, à moins que PRIMEBAG se soit exécuté entre l’envoi du courrier par le consommateur et sa réception.
    PRIMEBAG est responsable de la bonne exécution des obligations contractuelles à l'égard du client et résultant du contrat conclu sur le site. Toutefois, PRIMEBAG peut s'exonérer de tout ou partie de sa responsabilité en apportant la preuve que l'inexécution ou la mauvaise exécution du contrat est imputable, soit au client, soit au fait imprévisible et insurmontable d'un tiers au contrat, soit à un cas de force majeure tel que défini par la jurisprudence française en vigueur, de perturbations ou grève générale, totale ou partielle, notamment des services postaux et moyens de transports et / ou communication, inondation, tempête, incendie.
    De même, la responsabilité de PRIMEBAG ne saurait être retenue en cas d'inexécution du contrat pour cause de rupture de stock ou d'indisponibilité du produit.
    Enfin, la responsabilité de PRIMEBAG ne saurait être engagée pour tous les inconvénients ou dommages inhérents à l'utilisation du réseau Internet, notamment une rupture de service, une intrusion extérieure, la présence de virus informatiques.
    En cas de livraison en point relais, le transporteur peut livrer le colis dans un point relais autre que celui demandé par le client (par exemple : suite à la fermeture de celui-ci pour quelques raisons que ce soit), PRIMEBAG ne saura en être tenu responsable.
    En cas de nouvelle livraison d’une commande, notamment en raison d’un retard de la livraison initiale, PRIMEBAG adressera au client préalablement à la nouvelle livraison une attestation comportant la reconnaissance par ce dernier de l’absence de réception de la livraison initiale, son refus de réceptionner la commande ou de la retourner dans les 10 jours de sa réception et à défaut de retour dans ce délai, son autorisation de prélèvement du prix de la commande objet de la nouvelle livraison. La nouvelle livraison sera expédiée au client dès réception de cette attestation complétée et signée.</p>
    
    <h2>Article 9 : Paiement et Sécurité</h2>
    
    <p>Le règlement de vos achats s'effectuera en ligne sur le site par cartes bancaires : Visa, MasterCard, autres cartes bleues. Votre compte est débité du montant de votre facture correspondant au(x) produit(s) expédié(s) et aux frais de transport, après l'accord du réseau central des cartes bancaires.<br>
    Le choix du client pour un autre mode de paiement doit faire l'objet d'un accord préalable de PRIMEBAG.
    En cas d'utilisation frauduleuse d'une carte bancaire, nous nous réservons la possibilité de suspendre l'envoi de votre commande et de vous demander un paiement par virement bancaire exclusivement.<br>
    Pour le système d'analyse des commandes (Détection de la fraude):<br>
    Toutes nos transactions sont analysées par notre système anti-fraude.<br>
    Conformément à la loi N° 78-17 Informatique et Libertés du 6 janvier 1978 vous disposez, à tout moment, d'un droit d'accès, de modification, de rectification et d'opposition à l'ensemble de vos données personnelles en écrivant, par courrier et en justifiant de votre identité, à PRIMEBAG - Service Informatique et Libertés – 1 rue Dupont  - 59000 Lille».</p>

    <h2>Article 10 : Droit de rétractation</h2>
    
    <p>Droit de rétractation - les dispositions légales
    Conditions :</p>

    <p>Vous avez le droit de vous rétracter du présent contrat sans donner de motif dans un délai de quatorze jours à compter de la réception du produit. Pour exercer le droit de rétractation, vous devez nous notifier votre décision de rétractation du présent contrat au moyen d’une déclaration dénuée d’ambiguïté (par exemple, lettre envoyée par la poste ou courrier électronique). Vous pouvez utiliser le modèle de formulaire de rétractation mais ce n’est pas obligatoire. Pour que le délai de rétractation soit respecté, il suffit que vous transmettiez votre communication relative à l’exercice du droit de rétractation avant l’expiration du délai de rétractation.</p>

    <p>Effets de la rétractation :</p>

    <p>Vous devrez renvoyer ou rendre le bien sans retard excessif à vos frais et, en tout état de cause, au plus tard quatorze jours après que vous nous aurez communiqué votre décision de rétractation du présent contrat. Ce délai est réputé respecté si vous renvoyez le bien avant l’expiration du délai de quatorze jours.
    Votre responsabilité n’est engagée qu’à l’égard de la dépréciation du bien résultant de manipulations autres que celles nécessaires pour établir la nature, les caractéristiques et le bon fonctionnement de ce bien.</p>
    
    <h2>Article 11 : Droit applicable - Litiges</h2>
    
    <p>La responsabilité de PRIMEBAG ne pourra être engagée dans le cas où l'inexécution de ses obligations serait imputable, soit au fait imprévisible et insurmontable d'un tiers au contrat, soit à un cas de force majeure telle que définie par la jurisprudence française. De même, la responsabilité de PRIMEBAG ne saurait être engagée pour tous les inconvénients ou dommages inhérents à l'utilisation du réseau Internet, notamment une rupture de service, une intrusion extérieure ou la présence de virus informatiques.
    De même, PRIMEBAG ne pourra être tenu responsable, envers un utilisateur ou un tiers, d'aucun dommage indirect, d'aucune perte d'exploitation, de profit ou de chiffre d'affaires, survenus de quelque manière que ce soit, même si ce dommage ou cette perte ou ce préjudice était prévisible par PRIMEBAG, ou si son éventualité avait été portée à son attention.
    En cas de litige et à défaut de règlement amiable, les tribunaux français sont seuls compétents.</p>
    
    <h2>Article 12 : Garanties légales</h2>
    
    <p>Tous les produits fournis par le vendeur bénéficient de la garantie légale de conformité prévue aux articles L. 211-4 à L. 211-14 du code de la consommation ou de la garantie des vices cachés prévue aux articles 1641 à 1649 du code civil.</p>

    <h2>Article 13 : Informations nominatives</h2>

    <p>La protection des données personnelles de nos clients est une priorité au quotidien. Primebag prend des engagements forts pour assurer la protection des données à caractère personnel dans le respect des réglementations en vigueur, conformément à sa politique de protection des données personnelles. 
    La politique de protection des données personnelles a pour objectif de vous informer sur les engagements et mesures mis en oeuvre afin de veiller au respect de vos données à caractère personnel.</p>

    <h2>Article 14 : Modification des conditions générales de vente - Réclamations</h2>
    
    <p>PRIMEBAG se réserve le droit de modifier à tout moment les conditions générales de vente et d'utilisation.
    Pour le SAV et toute réclamation, le client peut s'adresser :</p>

    <p>Par courrier à l'adresse de l'établissement de PRIMEBAG :</p>
    <adress>
    PRIMEBAG.com<br>
    1 rue Dupont<br>
    59000 Lille<br>
    France
    </adress>
    <p>Par courrier électronique : client@primebag.com<br>
    Par téléphone : 0825.00.00.00 du lundi au vendredi de 9h30 à 17h00 (numéro indigo 0,149 € TTC la minute).</p>

</div>
    

{% endblock %}
