{% extends 'base.html.twig' %}

{% block title %}FAQ Primebag{% endblock %}

{% block body %}

<div class="limit">

    <h1 class="center progressive">FAQ</h1>

    <h2 class="margin-tb">Comment se passe un retour/remboursement ?</h2>

    <p>Si un produit ne vous satisfait pas, il doit être retourné dans un délai de 30 jours à compter de sa réception.<br>
    L’article doit être complet dans son état d'origine avec emballage, les éventuels accessoires et accompagné d’une copie de la facture. Le produit incomplet, abîmé, endommagé ou sali ne sera pas repris.
    Vous devez retourner votre article par laposte dans un carton ou le carton d’origine. Veuillez adresser votre colis retour à l'adresse ci-dessous :</p>
    <address>Primebag.com<br>
    1 rue Dupont<br>
    59000 Lille<br>
    France</address>
    
    <h3 class="margin-tb">Quel délai pour être remboursé ?</h3>

    <p>Vous serez remboursé sous 14 jours à compter de la date d'expédition de votre colis retour.</p>
    
    <h3 class="margin-tb">Que faire en cas de litige / perte du colis retour ?</h3>

    <p>Vous devez bien vous assuré de conserver la preuve de remise du colis à laposte. En cas de problème nous exigerons cette preuve de dépôt.</p>

    <h3 class="margin-tb">Est-il possible d'effectuer un retour ou échange dans la boutique ?</h3>

    <p>Echange en magasin</p>

    <p>Le produit peut être échangé dans la boutique dans un délai de 15 jours ouvrés à  compter de sa réception. Il doit être dans son état d'origine et complet (emballage, accessoires...) et accompagné d'une copie de la facture.
    Le produit incomplet, abîmé, endommagé ou sali ne sera pas échangé.</p>

    <p>Retour en magasin</p>

    <p>Le produit peut être rapporté dans la boutique dans un délai de 15 jours ouvrés à compter de sa réception. Il doit être dans son état d'origine et complet (emballage, accessoires...) et accompagné d'une copie de la facture. Le magasin prendra en charge l'article en retour. Une fois l'article examiné, Primebag effectuera un remboursement de l'article par la méthode de paiement initiale. Le délai entre la prise en charge par le magasin et le remboursement effectif peut prendre plusieurs jours.
    Le produit incomplet, abîmé, endommagé ou sali ne sera pas remboursé.</p>

    <hr>

    <h2 class="margin-tb">Comment se passe la garantie des produits ?</h2>

    <p>Tous les produits fournis par le vendeur bénéficient de la garantie légale de conformité prévue aux articles L. 211-4 à L. 211-14 du code de la consommation ou de la garantie des vices cachés prévue aux articles 1641 à 1649 du code civil.</p>

    <h3 class="margin-tb">SAV - Réclamations</h3>

    <p>Pour le SAV et toute réclamation, le client peut s'adresser :</p>

    <p>Par courrier à l'adresse :</p>

    <address>Primebag.com<br>
    1 rue Dupont<br>
    59000 Lille<br>
    France</address>

    <p>Par courrier électronique : service-client@primebag.com</p>

    <p>Par téléphone : 0825.00.0000 du lundi au vendredi de 9h30 à 17h00 (numéro indigo 0,149 € TTC la minute).</p>


</div>
    

{% endblock %}
