{% extends 'base.html.twig' %}

{% block title %} Univers Femme - {{parent()}} {% endblock %}

{% block body %}

<main id="our-main">

    <div id="our-main-controller" class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="our-presentation">

                    <div class="our-presentation-up">
                        <div>
                            <img src="{{ asset('assets/img/logo/poster_accueil1.jpg') }}" alt="">
                        </div>
                        <div>
                            <img src="{{ asset('assets/img/logo/poster_accueil2.jpg') }}" alt="">
                        </div>
                        <div>
                            <img src="{{ asset('assets/img/logo/poster_accueil3.jpg') }}" alt="">
                        </div>
                    </div>

                    <div class="our-presentation-down">


                        <div class="our-part1"></div>

                        <div class="our-part2">
                            <p>Votre Magasin PrimeBag est ravi de vous accueillir : <br>
                                - du lundi au vendredi de 9h30 à 19h  <br>
                                - le samedi de 9h30 à 20h </p>

                             <p>Primebag.com 1 rue Dupont 59000 Lille France</p>
                             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.
                                6097150450055!2d3.05957121582279!3d50.63436668197649!2m3!1f0!2f0!3f0!3m2!
                                1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d5860936083d%3A0x8baf147f07f8c331!2s1+
                                Rue+Pierre+Dupont%2C+59800+Lille!5e0!3m2!1sfr!2sfr!4v1545238836806"
                            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>

                        <div class="our-part3"></div>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</main>





{% endblock %}