{% extends 'base.html.twig' %}

{% block title %} Univers Femme - {{parent()}} {% endblock %}

{% block body %}

<main id="our-main">
    <div id="our-main-controller" class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="our-presentation">

                    <div class="our-presentation-up">
                        <div>
                            <img src="{{ asset('assets/img/logo/poster_accueil1.jpg') }}" alt="">
                        </div>
                        <div>
                            <img src="{{ asset('assets/img/logo/poster_accueil2.jpg') }}" alt="">
                        </div>
                        <div>
                            <img src="{{ asset('assets/img/logo/poster_accueil3.jpg') }}" alt="">
                        </div>
                    </div>

                    <div class="our-presentation-down">

                        <div class="our-part1">
                        <p>Spécialisé dans la vente de sac depuis plus de 20 ans, PrimeBag profite de ses relations privilégiées avec les
                        grandes marques pour apporter à ses clients un ensemble de gammes de haute qualité.</p>

                        <p class="our-presentation-text">Vous pouvez effectuer vos achats de chez vous via cette boutique en ligne ou venir directement au magasin
                        afin de bénéficier de nos conseillers qui sont à votre disposition.</p>

                        </div>

                        <div class="our-part2">
                            <p>Votre magasin PrimeBag vous accueille : <br>
                                - du lundi au vendredi de 9h30 à 19h  <br>
                                - le samedi de 9h30 à 20h </p>
                             <strong>Primebag 1 rue Dupont 59000 Lille France</strong><br>
                             <iframe id="our-google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.
                                6097150450055!2d3.05957121582279!3d50.63436668197649!2m3!1f0!2f0!3f0!3m2!
                                1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d5860936083d%3A0x8baf147f07f8c331!2s1+
                                Rue+Pierre+Dupont%2C+59800+Lille!5e0!3m2!1sfr!2sfr!4v1545238836806"
                            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>

                        <div class="our-part3">
                        <p class="our-presentation-horaire">Ouverture du magasin du lundi au vendredi de 9h30 à 19h - le samedi de 9h30 à 20h</p>
                        <p>Par téléphone : 03 20 99 78 XX du lundi au samedi de 9h30 à 13h et de 14h à 17h (coût d'un appel standard).</p>   
                        
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</main>





{% endblock %}