{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}


<div id="section_one">This is Section One</div>
<div id="section_two">This is Section Two</div>

<button id="button1" type="button" class="btn btn-primary">Primary</button>
<button id="button2" type="button" class="btn btn-secondary">Secondary</button>



{% endblock %}
