{% extends 'base.html.twig' %}

{% block title %} Facture {% endblock %}

{% block body %}

<div class="container">
    <div class="row">



        <div class="col-12 col-md-6">

<pre>
    {{ dump(orders) }}
</pre>


        </div>



    </div>    
</div>



{% endblock %}