{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="center">Erreur 404</h1>

    <p class="center">La page demandée n'a pas pu être localisée . Cliquez sur ce <a href="{{path('home')}}">lien</a> pour retourner à la page d'accueil</p>

{% endblock %}