{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="center">Erreur 405</h1>

    <p class="center">Une erreur  . Cliquez sur ce <a href="{{path('home')}}">lien</a> pour retourner à la page d'accueil</p>

{% endblock %}