{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

    <h1>Liste des articles</h1>

    <div class="flexbetween flexwrap">


        {% for art in articles %}

            <div class="flex-child">
                <h2>{{ art.name }}</h2>
                <img src="{{ art.poster }}" alt="image">
                {{ art.description }}
                <a href=""><span class="u">Voir</span></a>
            </div>

        {% endfor %}

    </div>

{% endblock %}
