{% extends 'base.html.twig' %}

{% block title %}Se connecter - {{parent()}}{% endblock %}

{% block body %}

<div class="limit">

    <h1 class="center">Se connecter</h1>

    <div class="center">

        <form method ="post">
            Adresse mail : <input type="text" class="margin15" placehoder="Votre adresse mail" name="_username" value=""> <br/>
            Mot de passe : <input type="password" class="margin15" placehoder="Votre mot de passe" name="_password" value="">
            <br/>
            <div class="margin15">
                <button type="submit">Connexion</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}
