{% extends 'base.html.twig' %}

{% block title %}Se connecter - {{parent()}}{% endblock %}

{% block body %}

    <h1>Se connecter</h1>

        <form method = "post">
        <input type="text" placehoder="Votre adresse mail" name="_username" value="">
        <input type="password" placehoder="Votre mot de passe" name="_password" value="">
        
        <button type ="submit">Connection</button>
    </form>


{% endblock %}
