{% extends 'base.html.twig' %}

{% block title %} Votre compte - {{parent()}}{% endblock %}

{% block body %}

    <h1>Votre profil : {{user.firstName}}</h1>

        <button type="submit">Editer le profil</button>
        <a href="{{path('user_edit', {id: app.user.id })}}">...</a>


{% endblock %}
