{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}

    <h1 class="center">Formulaire de contact</h1>

    <div class="limit">
        {{ form_start ( form ) }}
        {{ form_widget ( form ) }}
        <div class="center">
            <button type="submit">Envoyer</button>
        </div>
        {{ form_end ( form ) }}
    </div>
    <br>


{% endblock %}
